#set($defaultLocale = $date.getLocale())
#set($calenderNow = $date.getCalendar())
#set($ISO8601DateTimeWithMillisUTC = "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'")

## Farmer credentials default to a 3-year validity window from issuance
#set($expiry = $calenderNow.add(1, 3))

{
  "@context": [
    "https://www.w3.org/2018/credentials/v1",
    "https://mosip.github.io/inji-config/contexts/farmer-context.json"
  ],
  "type": [
    "VerifiableCredential",
    "FarmerCredential"
  ],
  "issuer": "${issuerId}",
  "expirationDate": "$date.format($ISO8601DateTimeWithMillisUTC, $calenderNow, $defaultLocale)",
  "credentialSubject": {
    "farmerId": "${farmerId}",
    "name": "${name}",
    "country": "${country}",
    "region": "${region}",
    "district": "#if($district)${district}#else#end",
    "village": "#if($village)${village}#else#end",
    "primaryCrop": "${farmDetails.primaryCrop}",
    "farmSize": "${farmDetails.farmSize}",
    "farmSizeUnit": "${farmDetails.farmSizeUnit}",
    "farmingType": "${farmDetails.farmingType}",
    "landOwnershipType": "${farmDetails.landOwnershipType}",
    "registrationDate": "${registrationDate}",
    "status": "${status}"
  }
}
