#set($defaultLocale = $date.getLocale())
#set($calendarNow = $date.getCalendar())
## Use current time directly for expiration (UTC assumed by platform)
#set($ISO8601DateTimeWithMillisUTC = "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'")
## Set expiration to 1 year from now
#set($calendarExpiry = $calendarNow.add(1,1))
#set( $expiry =$calenderNow.add(1,5))
#set($formattedExpiry = $date.format($ISO8601DateTimeWithMillisUTC, $calendarNow, $defaultLocale))
{
  "@context": [
    "https://www.w3.org/2018/credentials/v1",
    "https://dharanidharan-s-04.github.io/mosipid-did/sunbird/farmer-context.json"
  ],
  "type": [
    "VerifiableCredential",
    "FarmerCredential"
  ],
  "issuer": "${issuerId}",
  "expirationDate": "${formattedExpiry}",
  "credentialSubject": {
    "farmerId": "${farmerId}",
    "name": "${name}",
    "country": "${country}",
    "region": "${region}",
    "district": #if($district)"${district}"#else""#end,
    "village": #if($village)"${village}"#else""#end,
    "primaryCrop": "${farmDetails.primaryCrop}",
    "farmSize": #if($farmDetails)${farmDetails.farmSize}#else 0#end,
    "farmSizeUnit": "${farmDetails.farmSizeUnit}",
    "farmingType": "${farmDetails.farmingType}",
    "landOwnershipType": "${farmDetails.landOwnershipType}",
    "registrationDate": "${registrationDate}",
    "status": "${status}"
  }
}
